@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');

._font-family {
  font-family: "Stack Sans Headline", sans-serif;
  font-optical-sizing: auto;
}